<div class="flex flex-column">
  <span class="text-xl mb-4">Inicio de sesión</span>
  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input matInput type="text" placeholder="Usuario" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" placeholder="Contraseña" />
  </mat-form-field>
  <button mat-button mat-flat-button (click)="onLogin()" color="primary">
    <mat-icon>login</mat-icon>
    Iniciar sesión
  </button>
  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/register">Registrarse</a>
  </div>
</div>
