<h2>Reactivos: <small> Dinámicos </small></h2>
<hr>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   formControlName="name"
                   placeholder="Nombre de la persona">
            <span *ngIf="isValidField('name')" class="form-text text-danger">
              {{ getFieldError('name') }}
            </span>
        </div>
    </div>
    <!-- Agregar Favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control"
                       [formControl]="newFavouriteGames"
                       placeholder="Agregar favorito">
                <button (click)="onAddFavouriteGame()" class="btn btn-outline-primary"
                        type="button">
                    Agregar favorito
                </button>
            </div>
        </div>
    </div>
    <!-- Lista de Juegos Favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div *ngIf="favouriteGames.controls.length > 0; else noFavouriteGames" class="col-sm-9" formArrayName="favouriteGames">
            <div *ngFor="let item of favouriteGames.controls; let i = index" class="mb-1">
                <div class="input-group">
                    <input [formControlName]="i" class="form-control">
                    <button (click)="onDeleteFavouriteGame(i)" class="btn btn-outline-danger"
                            type="button">
                      Eliminar
                  </button>
                </div>
                <span *ngIf="isValidFieldInArray(favouriteGames, i)" class="form-text text-danger">
                   Este campo es requerido
                </span>
            </div>
        </div>
        <ng-template #noFavouriteGames>
          <div class="col-sm-9">
            <span class="form-text">No ha añadido ningún juego a favoritos</span>
          </div>
        </ng-template>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
                    class="btn btn-primary float-end"
                    >
                    <!-- [disabled]="myForm.invalid" -->
                Guardar
            </button>
        </div>
    </div>
</form>
<div *ngIf="isDebug" class="row">
  <span>Valid</span>
  <pre>{{ myForm.valid | json }}</pre>
  <span>Value</span>
  <pre>{{ myForm.value | json }}</pre>
  <span>Agregar Juego</span>
  <pre>{{ newFavouriteGames.valid | json }}</pre>
  <pre>{{ newFavouriteGames.value | json }}</pre>
</div>

