<h2>CountryApp</h2>
<hr />
<ul class="list-group">
  <!-- <li routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      class="list-group-item">
    Home
  </li>
  <li  routerLink="about" routerLinkActive="active" class="list-group-item">
    About
  </li>
  <li  routerLink="contact" routerLinkActive="active" class="list-group-item">
    Contact
  </li> -->
  <li  routerLink="countrie/by-capital" routerLinkActive="active" class="list-group-item">
    Por capital
  </li>
  <li  routerLink="countrie/by-countrie" routerLinkActive="active" class="list-group-item">
    Por ciudad
  </li>
  <li  routerLink="countrie/by-region" routerLinkActive="active" class="list-group-item">
    Por region
  </li>
</ul>
